{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    Published on {{ post.pub_date }}
  </p>
  {{ post.intro }}
  {% if not from_index %}
    {% if post.slideshare_key %}
      <iframe src="https://www.slideshare.net/slideshow/embed_code/key/{{ post.slideshare_key }}" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>   </div>
    {% endif %}
    {{ post.body }}
  {% endif %}
  </div>
{% endmacro %}
